[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.4"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
pickle5 = "*"
html2text = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
