{% extends "sample/layout.html" %}
{% load static %}

{% block title %}
    Program
{% endblock %}

{% block body %}

<div class= "Har">
    <p>A computer program is a collection of instructions[1] that can be executed by a computer to perform a specific task.

        A computer program is usually written by a computer programmer in a programming language. From the program in its human-readable form of source code, a compiler or assembler can derive machine code—a form consisting of instructions that the computer can directly execute. Alternatively, a computer program may be executed with the aid of an interpreter.
        
        A collection of computer programs, libraries, and related data are referred to as software. Computer programs may be categorized along functional lines, such as application software and system software. The underlying method used for some calculation or manipulation is known as an algorithm.
        </p>
</div>
<a href="{% url 'nine' %}"></a><a href="{% url 'six' %}"></a>
{% endblock %}