{% extends "sample/layout.html" %}
{% load static %}


{% block body %}

<div class = "Har">
    <p>Execution in computer and software engineering is the process by which a computer or virtual machine reads and acts on the instructions of a computer program. Each instruction of a program is a description of a particular action which must be carried out, in order for a specific problem to be solved. As the executing machine follows the instructions, specific effects are produced in accordance with the semantics of those instructions.

        Programs for a computer may be executed in a batch process without human interaction or a user may type commands in an interactive session of an interpreter. In this case, the "commands" are simply program instructions, whose execution is chained together.
        
        The term run is used almost synonymously. A related meaning of both "to run" and "to execute" refers to the specific action of a user starting (or launching or invoking) a program, as in "Please run the application." </p>
</div>
<a href="{% url 'three' %}"></a>
{% endblock %}