{% extends "sample/layout.html" %}
{% load static %}


{% block body %}

<div class = "Har">
    <p>Logic (from Greek: λογική, logikḗ, 'possessed of reason, intellectual, dialectical, argumentative')[1][2][i] is the systematic study of valid rules of inference, i.e. the relations that lead to the acceptance of one proposition (the conclusion) on the basis of a set of other propositions (premises). More broadly, logic is the analysis and appraisal of arguments.[3]

        There is no universal agreement as to the exact definition or boundaries of logic (see § Rival conceptions).[4][5][6] However, the scope of logic (broadly construed) includes:
        
            The classification of arguments.
            The systematic analysis of logical forms.
            The systematic study of the validity of deductive inferences.
            The strength of inductive inferences.
            The study of faulty arguments, such as fallacies.
            The study of logical paradoxes.
            The study of syntax and semantics of formal languages.
            The study of the concepts of meaning, denotation and truth.
        
        Historically, logic has been studied mainly in philosophy (since Antiquity), mathematics (since mid-19th century), and computer science (since mid-20th century). More recently, logic has also been studied in linguistics and in cognitive science. Overall, logic remains a strongly interdisciplinary area of study. </p>
</div>
<a href="{% url 'eight' %}"></a><a href="{% url 'two' %}"></a>
{% endblock %}