/* essentials */
:root {
    --bg-primary: #1f1f1f;
    --bg-secondary: #892cdc;
    --bg-dark: #52057b;
    --bg-light: #bc6ff1;
    --bg-light_white: #e3e3e3;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    /* background-color: #333333; */
    background-color: var(--bg-primary);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: #6e6e6e;
}






/* for testing */
.test {
    display: flex;
    justify-content: center;
    border-style: solid;
    height: 100px;
}







/* for search box  */
.search_main {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_main img {
    height: 180px;
    margin-bottom: 0px;
}

.search_main p {
    margin-top: -15px;
    font-size: 3em;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.boxContainer {
    margin: auto;
    /* margin-top: 5%; */
    position: relative;
    width: 600px;
    height: 42px;
    border: 2px solid var(--bg-secondary);
    padding: 2px 10px;
    border-radius: 50px;
}

.elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 20px;
    background-color: var(--bg-primary);
    color: white;
    outline: none;
}

.elementsContainer i {
    color: #919191;
}

.elementsContainer i:hover {
    color: white;
}

.elementsContainer button {
    border: none;
    padding: 0px;
    background: none;
}

.elementsContainer button:hover {
    cursor: pointer;
}

.to_abtus>p {
    margin-top: 50px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.to_abtus>a {
    margin-top: -5px;
    background-color: var(--bg-secondary);
    font-weight: bold;
    color: var(--bg-light_white);
}

.to_abtus>a:hover {
    color: white;
    cursor: pointer;
}

/* search box part ends here */









/* for middle part */

.middle {
    margin: 0%;
    width: 100%;
    margin-top: 12%;
    padding: 50px;
    background-color: var(--bg-dark);
    border-radius: 4px;
    color: white;
}

.middle>.display-4 {
    font-family: 'STIX Two Math', serif;
}

.middle>.display-6 {
    font-size: 1.5em;
}

/* middle part ends here */







/* explaination part starts here */
.exp {
    margin: 20%;
    color: white;
    background-color: var(--bg-dark);
}









/* serp part start here */
.serp_nav{
    display: flex;
    margin-bottom: 30px;
    background-color: #1a1a1a;
}

.serp_nav img {
    height: 55px;
    margin: 10px;
    margin-top: 16px;
}

.serp_boxContainer {
    margin: auto;
    margin-top: 0px;
    position: relative;
    width: 600px;
    height: 42px;
    border: 2px solid var(--bg-secondary);
    padding: 2px 10px;
    border-radius: 50px;
}


.serp_elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: #1a1a1a;
}

.serp_elementsContainer i {
    color: #919191;
}

.serp_elementsContainer i:hover {
    color: white;
}

.serp_elementsContainer button {
    border: none;
    padding: 0px;
    background: none;
}

.serp_elementsContainer button:hover {
    cursor: pointer;
}

  





.serp_main a {
    text-decoration: none;
    color: var(--bg-light_white);
}

.serp_res {
    display: flex;
    flex-direction: column;
}

.serp_res p {
    color: var(--bg-light_white);
    font-size: 13px;
    width: 600px;
    margin-bottom: 20px;
}

.upper {
    font-size: 20px;
    margin-bottom: 5px;
}

.lower {
    font-size: 13px;
    margin-bottom: 5px;
}






.Har{
    color: var(--bg-light_white);
}