input[type=text], select {
    width: 100%;
    height:50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 200px;
  background-color: #D3D3D3;
  color: white;
  position:relative;
  left:60px;
  top:30px;
  height:40px;
  margin: 20px;
  border: 20px;;
  border-radius: 10px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: grey;
}

 div{
  border-radius: 50px;
  padding: 30px;
  height:300px;
  width: 600px;;
  position: relative;
  left: 600px;
  top: 200px;
  
 }

a{
    position:relative;
    left:1600px;
    color:black;
}

#v{
    border-radius: 50px;
}

.search-logo {
    font-family:'Courier New', monospace;
    font-size: 80px;
    
    position:relative;
    left:760px;
    vertical-align: top;
    top:220px;
}
.search-E { 
    color:#0047F1; 
}
.search-x { 
    color:#DD172C; 
}
.search-p { 
    color:#F9A600; 
}
.search-l { 
    color:#0047F1; 
}
.search-o { 
    color:#00930E; 
}
.search-r { 
    color:#E61B31; 
}
.search-e { 
    color:#391be6; 
}
