{% extends "engine/layout_second.html" %}
{% load static %}


{% block body %}

<div class="abtus container">
    <h1 class="display-3">How Our Search Engine works</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolorem pariatur et qui omnis sint ut ex dicta, quidem nesciunt illo ducimus. Modi dicta deserunt fugiat nulla minus quia vitae quos aliquid. Odio ipsum dolorem commodi perferendis provident, totam magnam!</p>

    <div class="">
        <div class="row abtus_unit">
            <div class="col-md-5">
                <img src="{% static 'engine/images/ranking.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h1 class="display-5">Ranking</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repellat accusamus quidem facilis. Excepturi velit ea laudantium cupiditate, ratione ut!</p>
            </div>
        </div>
        <div class="row abtus_unit">
            <div class="col-md-7">
                <h1 class="display-5">Indexing</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repellat accusamus quidem facilis. Excepturi velit ea laudantium cupiditate, ratione ut!</p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'engine/images/indexing.png' %}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row abtus_unit">
            <div class="col-md-5">
                <img src="{% static 'engine/images/crawler.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h1 class="display-5">Crawling</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repellat accusamus quidem facilis. Excepturi velit ea laudantium cupiditate, ratione ut!</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}