{% extends "engine/layout.html" %}
{% load static %}


{% block body %}
<!-- logo and searh form starts here -->
<div class="row">
    <ul class="search_main">
        <li>
            <img src="{% static 'engine/images/logo_trans.png' %}" alt="" class="">
        </li>
        <li>
            <p class="">Explore Search Engine</p>
        </li>
        <li>
            <form action="">
                <div class="boxContainer">
                    <table class="elementsContainer">
                        <tr>
                            <td>
                                <input type="text" placeholder="Search The Web" class="search">
                            </td>
                            <td>
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </li>
    </ul>
</div>
<!-- logo and search end -->

<!-- middle part start here -->
<div class="row middle">
    <p class="display-4 fst-italic">
        A complete implementation of a modern search engine
    </p>
    <p class="display-6">
        A modern search engine is the cogulation of Indexing, Ranking and Crawling. We've implemented each part using 
        modern methods and algorithm with Django serving as backend. Scroll down to check how each part is implemented. 
    </p>
</div>
<!-- middle part ends here -->





{% endblock %}


