{% extends "engine/layout.html" %}
{% load static %}


{% block body %}
<!-- logo and searh form starts here -->
<div class="row">
    <ul class="search_main">
        <li>
            <img src="{% static 'engine/images/logo_trans.png' %}" alt="" class="">
        </li>
        <li>
            <p class="">Explore Search Engine</p>
        </li>
                <li>
                    <form id ="thisform" action="{% url 'engine:q'  %}" method="post">
                        {% csrf_token %}
                        <div class="boxContainer">
                            <table class="elementsContainer">
                                <tr>
                                    <td>
                                        
                                    
                                    <div id="string"></div>
                                    <script type="text/babel">
                                        function App() {

                                            const [state, setState] = React.useState({
                                                response: ""
                                            });

                                            function updateResponse (event) {
                                                setState({
                                                ...state,
                                                response: event.target.value
                                                });
                                            var text = event.target.value;
                                            console.log(text);
                                            fetch('index/query',{
                                                method:'POST',
                                                body: JSON.stringify({
                                                text:text,
                                                })
                                            })
                                            
                                            .then(response=>response.text())
                                            .then(data=>{
                                                //console.log(data)
                                                data = JSON.parse(data)
                                                //console.log(data)
                                                console.log(data.dropdown)
                                                if ((event.target.value) != "")
                                                {
                                                var options = '';

                                                for (let i = 0; i < (data.dropdown).length; i++) {
                                                    options += '<option value="' + data.dropdown[i] + '" />';
                                                    
                                                    }
                                                    document.getElementById('dropdown').innerHTML = options;
                                                }    
                                            });
                                            
                                        }
                                        return(
                                            <div>
                                                <input list="dropdown" onChange={updateResponse} value={state.response} type="search"  id="string" autocomplete = "off"  placeholder="Search The Web" class="search" name ="search"  />  
                                            
                                                <datalist id="dropdown">
                                                   
                                                </datalist>        
                                            </div>
                                            
                                            
                                        );
                                    }

                                    ReactDOM.render(<App />, document.querySelector("#string"));
                                    </script>
                                    
                                    </td>
                                    <td>
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </li> 
    </ul>
</div>
<!-- logo and search end -->

<!-- middle part start here -->
<div class="row middle">
    <p class="display-4 fst-italic">
        A complete implementation of a modern search engine
    </p>
    <p class="display-6">
        A modern search engine is the cogulation of Indexing, Ranking and Crawling. We've implemented each part using 
        modern methods and algorithm with Django serving as backend. Scroll down to check how each part is implemented. 
    </p>
</div>
<!-- middle part ends here -->

<!-- explain part starts here -->
<div class="row exp">
    <!-- <div class="col-3"><img src="{% static 'engine/images/crawler.svg' %}" class="img-fluid" alt=""></div>
    <div class="col-9">
        <p class="h1">Ranking- Where we find which site is more worth</p>
        <p class="h5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias
            nobis quibusdam repellendus doloribus eveniet. Natus rem ipsa, nisi tempore
            impedit vitae cupiditate voluptate aliquid tempora magni unde cumque,
            dolorem perferendis eveniet nam dolore cum veniam. Velit eligendi
            voluptate enim quam necessitatibus nam tempora, voluptatem magnam
            corporis natus sit delectus ipsum?
        </p>
    </div> -->
</div>



{% endblock %}


