{% extends "engine/layout.html" %}
{% load static %}


{% block body %}
<!-- logo and searh form starts here -->
<div class="row">
    <ul class="search_main">
        <li>
            <img src="{% static 'engine/images/logo_trans.png' %}" alt="" class="">
        </li>
        <li>
            <p class="">Explore Search Engine</p>
        </li>
        <li>
            <form id="thisform" action="{% url 'engine:q'  %}" method="post">
                {% csrf_token %}
                <div class="boxContainer">
                    <table class="elementsContainer">
                        <tr>
                            <td>


                                <div id="string"></div>
                                <script type="text/babel">
                                    function App() {

                                            const [state, setState] = React.useState({
                                                response: ""
                                            });

                                            function updateResponse (event) {
                                                setState({
                                                ...state,
                                                response: event.target.value
                                                });
                                            var text = event.target.value;
                                            console.log(text);
                                            fetch('index/query',{
                                                method:'POST',
                                                body: JSON.stringify({
                                                text:text,
                                                })
                                            })
                                            
                                            .then(response=>response.text())
                                            .then(data=>{
                                                //console.log(data)
                                                data = JSON.parse(data)
                                                //console.log(data)
                                                console.log(data.dropdown)
                                                if ((event.target.value) != "")
                                                {
                                                var options = '';

                                                for (let i = 0; i < (data.dropdown).length; i++) {
                                                    options += '<option value="' + data.dropdown[i] + '" />';
                                                    
                                                    }
                                                    document.getElementById('dropdown').innerHTML = options;
                                                }    
                                            });
                                            
                                        }
                                        return(
                                            <div>
                                                <input list="dropdown" onChange={updateResponse} value={state.response} type="search"  id="string" autocomplete = "off"  placeholder="Search The Web" class="search" name ="search"  />  
                                            
                                                <datalist id="dropdown">
                                                   
                                                </datalist>        
                                            </div>
                                            
                                            
                                        );
                                    }

                                    ReactDOM.render(<App />, document.querySelector("#string"));
                                    </script>

                            </td>
                            <td>
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </td>

                        </tr>
                    </table>
                </div>
            </form>
        </li>
        </li>
        <li class="to_abtus">
            <p>Want to learn how our Search Engine works ?</p>
        </li>
        <li class="to_abtus">
            <a href="{% url 'engine:about_us' %}" class="btn">Check About Us</a>
        </li>
    </ul>
</div>
<div>
    {% if correction != "" %}
    <h4 style="color: aliceblue; position: relative; left:650px; top:30px;">Did you mean <a
            href="{% url 'engine:qc' correction %}">{{correction}}</a>? </h4>
    {% endif %}
</div>

<!-- logo and search end -->

{% endblock %}
