{% extends "engine/layout_second.html" %}
{% load static %}


{% block body %}

<div class = "container serp_main">
   
   <ul>
      <div>
      {% if correction != "" %}
      <h4 style="color: aliceblue; margin-bottom: 30px;">Did you mean: <a style="color: #bc6ff1;" href="{% url 'engine:qc' correction %}">{{correction}}</a> ? </h4>
      {% endif %}
      </div>
      {% for Link in search_results %}
      <div class="serp_res">
         
            <a href={{Link.link}} class="upper"> {{Link.title|title}} | This is a sample page</a>
            <a href={{Link.link}} class="lower"> {{Link.link}}</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laborum minima maiores fugit dolore delectus doloremque cumque accusantium nobis, aperiam fugiat in voluptates error eligendi earum beatae quaerat doloribus quia!</p>

      
      </div>
      {% endfor %}
   </ul>
     
  
</div>
    
   
   

{% endblock %}


